.fOut{
  -webkit-animation-name:'FOut';
  -webkit-animation-duration:.5s;
  -webkit-animation-timing-function:ease-in;
  -webkit-animation-iteration-count:1;
}
@-webkit-keyframes 'FOut' {
  0%{opacity:1;visibility: visible;}
  100%{opacity:0;visibility: hidden;}
}

.fIn{
  -webkit-animation-name:'FIn';
  -webkit-animation-duration:.5s;
  -webkit-animation-timing-function:ease-in;
  -webkit-animation-iteration-count:1;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
@-webkit-keyframes 'FIn' {
  0%{opacity:0;visibility: hidden;}
  100%{opacity:1;visibility: visible;}
}

.hidden{
  visibility: hidden;
  opacity: 0;
}